{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}
{% block main %}
<video autoplay muted loop playsinline id="bg-video">
    <source src="{{ url_for('static', filename='background2.mp4') }}" type="video/mp4">
</video>
<div class="about_text home-body">
    <div class="about-container">
    <h1>MacroAnalysis</h1>
    <p>
        MacroAnalysis is a CS50 final project designed to allow users to easily see and compare almost every major macroeconomic indicator for nearly every country in the world.
        All data is directly from the World Bank. Forecasts (currently disable because of resource constraints) are from the IMF.
    </p>

    <h2>Key Features</h2>
    <ul>
        <li>🌍 Interactive world map for country selection 🌍</li>
        <li>📈 Dynamic line graphs 📈</li>
        <li>⚖️ Support for comparing multiple indicators and countries ⚖️</li>
        <li>🌑 Dark-themed UI, as that should be the default 🌑 </li>
        <li>📡 Real-time economic data 📡</li>
    </ul>

    <h2>About the Creator</h2>
    <p>
        My name is Leonardo Lupchinski and I am a prospective student at the University of Pennsylvania.
    </p>
    <p>
        I was originally born in 2005 in Brazil but spent the majority of my life in Spain and Portugal. I believe in the power of economics as a way to change the world for the better.
    </p>
    <p>
        In CS50, I learned how to use Python, Flask, HTML, CSS, and JavaScript to create web applications. This project was only possible because of the amazing opportunities given by Harvard University and the CS50 team!
    </p>

    <h2>Special Thanks</h2>
    <ul>
        <li>👨‍🏫 Professor Malan, for amazing teaching skills and visualization ideas 👨‍🏫 </li>
        <li>🧑‍🏫 Preceptor Yuliia, for her support and incredible examples that helped me a lot 🧑‍🏫</li>
        <li>🕵️ Brian Yu, for the amazing problem sets (especially Fiftyville — who would have thought SQL could be fun?) 🕵️</li>
        <li>🏛️ EdX and Harvard for making this course available for free 🏛️</li>
    </ul>
    <h2>Contact</h2>
    <p>
        LeonardoLupchinski@icloud.com
    </p>
    <blockquote>
        "We have one asset, and that's people."<br>— Sylvia Ostry
    </blockquote>
    <a href="/">Home</a>
    </div>
</div>
{% endblock %}