{% extends "layout.html" %}

{% block title %}
    Stock Search
{% endblock %}
{% block main %}
    <div class="text-center">
        <h1><a href="/">MacroAnalysis</a></h1>
    </div>
    <!-- TODO: Add whole logic lol-->
    <div class="graph-grid">
        {% for indicator in indicators %}
            <div id="resizable_{{ indicator }}" class="graph-resizable" draggable="true" ondragstart="dragStart(event)" ondragover="allowDrop(event)" ondrop="drop(event)">
                <div id="graph_{{ indicator }}" class="graph-box"></div>
            </div>
        {% endfor %}
    </div>

    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>
    <script>
    </script>

{% endblock %}