{% extends "layout.html" %}

{% block title %}
    {{ country }}
{% endblock %}
{% block main %}
<!-- Load Plotly -->
<script src="https://cdn.plot.ly/plotly-3.0.1.min.js"></script>

{% for indicator in indicators %}
    <div id="graph_{{ indicator }}" style="width:100%;max-width:700px;height:400px;margin:auto;"></div>
{% endfor %}

<script>
    const years = {{ years | list }};

    {% for indicator in indicators %}
        const {{ indicator }}_values = {{ data_series[indicator] | map(attribute='value') | list | tojson }};
        const layout_{{ indicator }} = {
            title: { text: '{{ indicator.replace("_", " ").title() }} of {{ country }}', font: { color: 'white' } },
            xaxis: { title: 'Year', color: 'white' },
            yaxis: { title: 'Value', color: 'white' },
            paper_bgcolor: 'black',
            plot_bgcolor: 'black'
        };

        Plotly.newPlot('graph_{{ indicator }}', [{
            type: 'scatter',
            mode: 'lines+markers',
            x: years,
            y: {{ indicator }}_values,
            name: '{{ indicator.title() }}'
        }], layout_{{ indicator }});
    {% endfor %}
</script>
   
{% endblock %}
