Flask==2.3.3
requests==2.31.0
gunicorn==21.2.0
numpy==1.26.0
pycountry==23.12.11
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
email-validator==2.1.0.post1
Werkzeug==2.3.7
SQLAlchemy==2.0.25
python-dotenv==1.0.0
psycopg2-binary==2.9.9